<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>demo</title>
    <script src="/static/jquery.min.js"></script>
    <script type="text/javascript">//<![CDATA[

     $(function () {
        $('#yunxing').click(function () {
            var socket = new WebSocket("ws://" + window.location.host );
            socket.onopen = function () {
                console.log('WebSocket open');//成功连接上Websocket
                socket.send($('#yunxing').val());//发送数据到服务端
            };
            socket.onmessage = function (e) {
                console.log('message: ' + e.data);//打印服务端返回的数据
                $('#messagecontainer2').prepend('<p><pre>' + e.data + '</pre></p>');
                $('#messagecontainer2').prepend('<hr />');
            };
        });
    });
    </script>
</head>
<body>
<br>

  <div class="form-group">
      <input type="text" id="username" class="form-control" name="username"  placeholder="用户名"/> <button type="submit" class="btn btn-lg btn-primary btn-block" id="yunxing" value="yunxing">运行</button>
  </div>
<div id="messagecontainer2" style="margin: 20px;">
<hr/>
</body>
</html>