<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>111</title>
</head>
<body>
<h1>this is a test </h1>
     <form class="form-horizontal  cmd_from">
                                <div class="ibox-content">
                                    <div class="form-group"><label class="col-sm-2 control-label">命令</label>

                                        <div class="col-lg-8 col-sm-9"><input type="text" class="form-control" placeholder="命令" name="cmd" required=""><span class="help-block m-b-none"></span>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-sm-6 col-sm-offset-2">

                                            <a id="cmd" class="btn btn-primary" type="submit">提交</a>
                                            <button class="btn btn-white" type="button" onclick='clearBody()'>取消
                                            </button>
                                        </div>
                                    </div>

                                </div>

                            </form>

</body>
</html>